<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="theme.scss" rel="stylesheet">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="{{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% include "nav" %}

    {% include "page_header" %}

    <div class="main-container" id="middle">
      <div class="main container-fluid clearfix">
        {% include "columns_1" %}

        {% subpage "events" with "upcoming_events" %}
      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->

    <footer>
      <div class="container">
        <p>
          Stay in touch

          <a href='#facebook'>Facebook</a>
          <a href='#twitter'>Twitter</a>
        </p>

        <p>
          Sign up for our monthly newsletter:
        </p>

        {{ content_for_footer }}

        {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
        <hr/>
        {% endif %}
      </div>
      <!-- container -->
    </footer>

    <script src="bootstrap.js"></script>

  </body>
</html>
